<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM4-Nano-Cam</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>    
    <section class="jumbotron text-center">
        <div class="container">
            <img src="{{'cam'}}">
            <p>
                <form action="/submission" method="POST">
                    <label for="runTime" class="col-form-label">Run time:</label>
                    <input type="number" class="form-control" name="runTime">
                    <button type="submit" class="btn btn-primary">RUN!</button>
                </form>
            </p>
        </div>
    </section>
</body>
</html>
